<div>
    <button mat-button (click)="clickShowList()">
        <mat-icon>list</mat-icon>
    </button>
    
    <button mat-button (click)="clickShowGrid()">
        <mat-icon>grid_view</mat-icon>
    </button>
</div>


<div *ngIf="loadingAPI">
    <mat-spinner> 
    </mat-spinner>
</div>

<div *ngIf="!loadingAPI">
    <div *ngIf="showGrid">
        <items-grid [cats]="cats"></items-grid>
    </div>
    
    <div *ngIf="showList">
        <items-list [cats]="cats"></items-list>
    </div>
</div>
